<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.boot.mybatis.core.dao.UserDao">
    <resultMap id="BaseResultMap" type="spring.boot.mybatis.core.model.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
    </resultMap>
    <parameterMap id="User" type="spring.boot.mybatis.core.model.User"/>
    <sql id="Base_Column_List">
      id,name,address
    </sql>
    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
      select <include refid="Base_Column_List"/>
        from user
        where name = #{name}
    </select>

</mapper>